pillow==11.1.0
torch==2.5.1
torchvision==0.20.1
packaging==24.2
ftfy==6.3.1
regex==2024.11.6
tqdm==4.67.1
clip @ git+https://github.com/openai/CLIP.git
qdrant-client==1.13.2
aio-pika==9.5.4
faststream==0.5.34
pydantic==2.10.6
testcontainers==4.9.1
pytest==8.3.4
pytest-asyncio==0.25.3
pyright==1.1.393
pylint==3.3.4
handsdown==2.1.0