x-podman:
  in_pod: false

services:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: workspace
    volumes:
      - ..:/workspace:cached
    ports:
      - 8080:8080
    command: sleep infinity
    user: vscode
    userns_mode: keep-id:uid=1000,gid=1000
  rabbitmq:
    container_name: rabbitmq
    image: docker.io/library/rabbitmq:4.2.1-management
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
